.animation {
    width: 100%;
    height: 0;
    padding-bottom: 143.47826086956522%;
    background-size: 600% 400%;
    background-repeat: no-repeat;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: steps(1);
    /* animation-duration: 0.84s; */
    animation-duration: 1.05s;
}
/* 全部暂停播放 */
.animation-stop .animation {
    animation-duration: 0s;
}


.christmas .animation.empty {
    height: 100%;
    background-image: url("../../../assets/images/musicParty2020/sprites/boy_christmas.png");
    background-size: 100%;
}
.newyear .animation.empty {
    height: 100%;
    background-image: url("../../../assets/images/musicParty2020/sprites/boy_newyear.png");
    background-size: 100%;
}

.animation.xiaohao {
    background-image: url("../../../assets/images/musicParty2020/sprites/xiaohao.png");
    animation-name: keyframes-play;
}
.animation.beisi {
    background-image: url("../../../assets/images/musicParty2020/sprites/beisi.png");
    animation-name: keyframes-play;
}
.animation.xiaotiqin {
    background-image: url("../../../assets/images/musicParty2020/sprites/xiaotiqin.png");
    animation-name: keyframes-play;
}
.animation.xueqiaoling {
    background-image: url("../../../assets/images/musicParty2020/sprites/xueqiaoling.png");
    animation-name: keyframes-play;
}
.animation.diangangqin {
    background-image: url("../../../assets/images/musicParty2020/sprites/diangangqin.png");
    animation-name: keyframes-play;
}
.animation.dianzigu {
    background-image: url("../../../assets/images/musicParty2020/sprites/dianzigu.png");
    animation-name: keyframes-play;
}
.animation.dianjita {
    background-image: url("../../../assets/images/musicParty2020/sprites/dianjita.png");
    animation-name: keyframes-play;
}
.animation.jita {
    background-image: url("../../../assets/images/musicParty2020/sprites/jita.png");
    animation-name: keyframes-play;
}
.animation.jueshigu {
    background-image: url("../../../assets/images/musicParty2020/sprites/jueshigu.png");
    animation-name: keyframes-play;
}
.animation.hechengqi {
    background-image: url("../../../assets/images/musicParty2020/sprites/hechengqi.png");
    animation-name: keyframes-play;
}

/* aha动画 */
.animation.run_newyear {
    background-image: url("../../../assets/images/musicParty2020/sprites/run_newyear.png");
    animation-name: keyframes-play;
}
.animation.run_christmas {
    background-image: url("../../../assets/images/musicParty2020/sprites/run_christmas.png");
    animation-name: keyframes-play;
}
/* aha静止 */
.animation.aha_newyear {
    background-image: url("../../../assets/images/musicParty2020/sprites/aha_newyear.png");
    background-size: 100% 100%;
}
.animation.aha_christmas {
    background-image: url("../../../assets/images/musicParty2020/sprites/aha_christmas.png");
    background-size: 100% 100%;
}


/* 匀速动画 */
@keyframes keyframes-linear {
    0% {
        background-size: 600% 400%;
    }

    4.76% {
        background-position: 20% 0%;
    }

    9.52% {
        background-position: 40% 0%;
    }

    14.29% {
        background-position: 0% 33.33333333333333%;
    }

    19.05% {
        background-position: 20% 33.33333333333333%;
    }

    23.81% {
        background-position: 40% 33.33333333333333%;
    }

    28.57% {
        background-position: 60% 0%;
    }

    33.33% {
        background-position: 60% 33.33333333333333%;
    }

    38.10% {
        background-position: 80% 0%;
    }

    42.86% {
        background-position: 80% 33.33333333333333%;
    }

    47.62% {
        background-position: 0% 66.66666666666666%;
    }

    52.38% {
        background-position: 20% 66.66666666666666%;
    }

    57.14% {
        background-position: 40% 66.66666666666666%;
    }

    61.90% {
        background-position: 60% 66.66666666666666%;
    }

    66.67% {
        background-position: 80% 66.66666666666666%;
    }

    71.43% {
        background-position: 100% 0%;
    }

    76.19% {
        background-position: 100% 33.33333333333333%;
    }

    80.95% {
        background-position: 100% 66.66666666666666%;
    }

    85.71% {
        background-position: 0% 100%;
    }

    90.48% {
        background-position: 20% 100%;
    }

    95.24%,
    100% {
        background-position: 40% 100%;
    }
}

/* 短暂停顿动画 */
@keyframes keyframes-play {
    0% {
        background-size: 600% 400%;
    }

    4.28% {
        background-position: 20% 0%;
    }

    8.57% {
        background-position: 40% 0%;
    }

    12.85% {
        background-position: 0% 33.33333333333333%;
    }

    17.14% {
        background-position: 20% 33.33333333333333%;
    }

    21.42% {
        background-position: 40% 33.33333333333333%;
    }

    25.71% {
        background-position: 60% 0%;
    }

    30.00% {
        background-position: 60% 33.33333333333333%;
    }

    34.28% {
        background-position: 80% 0%;
    }

    38.57% {
        background-position: 80% 33.33333333333333%;
    }

    42.85% {
        background-position: 0% 66.66666666666666%;
    }

    47.14% {
        background-position: 20% 66.66666666666666%;
    }

    51.42% {
        background-position: 40% 66.66666666666666%;
    }

    55.71% {
        background-position: 60% 66.66666666666666%;
    }

    60.00% {
        background-position: 80% 66.66666666666666%;
    }

    64.28% {
        background-position: 100% 0%;
    }

    68.57% {
        background-position: 100% 33.33333333333333%;
    }

    72.85% {
        background-position: 100% 66.66666666666666%;
    }

    77.14% {
        background-position: 0% 100%;
    }

    81.42% {
        background-position: 20% 100%;
    }

    85.71%, 90.00% {
        background-position: 40% 100%;
    }

    100% {
        background-size: 600% 400%;
    }
}

/* 长停顿动画 */
@keyframes keyframes-play2 {
    0% {
        background-size: 600% 400%;
    }

    3.75% {
        background-position: 20% 0%;
    }

    7.50% {
        background-position: 40% 0%;
    }

    11.25% {
        background-position: 0% 33.33333333333333%;
    }

    15.00% {
        background-position: 20% 33.33333333333333%;
    }

    18.75% {
        background-position: 40% 33.33333333333333%;
    }

    22.50% {
        background-position: 60% 0%;
    }

    26.25% {
        background-position: 60% 33.33333333333333%;
    }

    30.00% {
        background-position: 80% 0%;
    }

    33.75% {
        background-position: 80% 33.33333333333333%;
    }

    37.50% {
        background-position: 0% 66.66666666666666%;
    }

    41.25% {
        background-position: 20% 66.66666666666666%;
    }

    45.00% {
        background-position: 40% 66.66666666666666%;
    }

    48.75% {
        background-position: 60% 66.66666666666666%;
    }

    52.50% {
        background-position: 80% 66.66666666666666%;
    }

    56.25% {
        background-position: 100% 0%;
    }

    60.00% {
        background-position: 100% 33.33333333333333%;
    }

    63.75% {
        background-position: 100% 66.66666666666666%;
    }

    67.50% {
        background-position: 0% 100%;
    }

    71.25% {
        background-position: 20% 100%;
    }

    75.00% {
        background-position: 40% 100%;
    }

    100% {
        background-size: 600% 400%;
    }
}