/*项目样式配置*/
:root {
  font-size: 10vw; /* (75 / 750 * 100) */
}

/* 默认ipad独立设置 */
@media only screen and (min-device-width: 768px) {

  @mixin appSize($size) {
      &:root {
        font-size: $size !important;
      }
      #app {
        max-width: $size * 10;
      }
  }

  #rootSize-75 {
    @include appSize(75PX);
  }
  #rootSize-50 {
    @include appSize(50PX);
  }
  /* 
  html#root {
    font-size: 50px;
  } */
}

/* APP基础样式 */
#app {
  font-family: 'PingFang SC', miui, system-ui, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, sans-serif;
  height: 100%;
  margin: 0 auto;
  color: #2c3e50;
  /* user-select: none; */
}